:root {
    --theme-color: #ff7961
}

section.cover h1 span {
    color: var(--theme-color);
}

.app-nav {
    right: auto;
    position: fixed;
    top: 0;
    background-color: #333333AA;
    width: 100%;
    margin-top: 0px;
    padding-right: 25px;
    padding-top: 25px;
    padding-bottom: 20px;
    box-shadow: 0, 10px, 0, 0;
}

.app-nav li ul {
    background-color: #333333;
}

.markdown-section {
    padding-top: 4em;
}

.content {
    margin-top: 1em;
}

.sidebar {
    margin-top: 60px;
}

.hide-up {
    transform:translateY(-100%); transition: all 0.3s ease-in-out;
}

.show-down {
    transform:translateY(0); transition: all 0.3s ease-in-out;
}