:root {
    --theme-color: #ff7961
}

section.cover h1 span {
    color: var(--theme-color);
}

.app-nav {
    right: auto;
    position: fixed;
    background-color: #333333;
    width: 100%;
    margin-top: 0px;
    padding-right: 25px;
    padding-top: 25px;
    padding-bottom: 20px;
    box-shadow: 0, 10px, 0, 0;
}

.sidebar {
    margin-top: 60px;
}